<% content = "<p>ID: #{@message.id} (used for checking reply messages)</p><p>To: #{@message.to}</p><p>Content: #{@message.content}</p>"  %>

$('#send-result .modal-body').html("<%= content.html_safe %>");

$('#last-message-id').html("<%= @message.id %>");


$('#send-result').modal('show');

