<% if @reply  %>
	<% replies = "" %>

	<% @reply.each do |r| %>
		<% if r.acknowledgedTimestamp  %>
			<% replies +=  "<p>Replied Time: #{r.acknowledgedTimestamp}</p><p>Content: #{r.content}</p>"%>
		<% end  %>
	<% end %>

	<% if replies.empty?  %>
		<% replies += "<p>Not Replied Yet.</p>"  %>
	<% end  %>

	$('#reply-result .modal-body').html("<%= replies.html_safe %>");
<% else  %>
	$('#reply-result .modal-body').html("<p>Not Replied Yet.</p>");
<% end  %>

$('#reply-result').modal('show');
