<% if @reply  %>
	$('#reply-result .modal-body').html("<p>Replied Time: <%= @reply.acknowledgedTimestamp %></p><p>Content: <%= @reply.content %></p>");
<% else  %>
	$('#reply-result .modal-body').html("<p>Not Replied Yet</p>");
<% end  %>

$('#reply-result').modal('show');
