#brand {
	font-size: 30px;
}
#custom-navbar {
	padding-top: 15px;
	padding-bottom: 15px;
	margin-bottom: 0px;
}
#to-field {
	width: 200px;
}
#content-field {
	max-width: 400px;
	height: 130px;
}
#send-button {
	margin-top: 20px;
}
#features li {
	font-size: large
}
#template-label {
	font-size: 19px;
	margin-right: 10px;
}
#meeting-image {
	width: 100%;
}