<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>SMS Anonymous</title>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-default" id="custom-navbar">
  <div class="container">
    <div class="navbar-header">
      <a class="navbar-brand" id="brand" href="/">SMS Anonymous</a>

      <form class="navbar-form navbar-left" id="reply-search" role="search" action="/messages/reply" data-remote="true">
        <div class="form-group">
          <input type="text" class="form-control" id="reply-search-input" name="message_id" placeholder="Message ID">
          <button type="submit" class="btn btn-default" id="reply-search-btn">Check Reply</button>
        </div>
      </form>
    </div>
    </div>
  </div>
</nav>

<%= yield %>

</body>
</html>
